In [35]:
# Business Sales & Expense Automation â€“ Version 1

# Objective:
# Automate monthly financial reporting using Python and Pandas.

In [ ]:
import pandas as pd

In [ ]:
# Load Data
df = pd.read_csv("sales_expense_raw.csv")

In [ ]:
df.head()

         Date      Category  Amount     Type
0  01-01-2026  Product Sale   15000  Revenue
1  01-01-2026  Facebook Ads    3000  Expense
2  02-01-2026  Product Sale   12000  Revenue
3  02-01-2026          Rent    8000  Expense
4  03-01-2026  Product Sale   18000  Revenue

In [ ]:
# Data Inspection
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      10 non-null     object
 1   Category  10 non-null     object
 2   Amount    10 non-null     int64
 3   Type      10 non-null     object
dtypes: int64(1), object(3)
memory usage: 452.0+ bytes

In [ ]:
# Convert Date Column
df['Date'] = pd.to_datetime(df['Date'], dayfirst = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      10 non-null     datetime64[ns]
 1   Category  10 non-null     object
 2   Amount    10 non-null     int64
 3   Type      10 non-null     object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 452.0+ bytes

In [ ]:
# Total Revenue
df[df["Type"] == "Revenue"]

        Date      Category  Amount     Type
0 2026-01-01  Product Sale   15000  Revenue
2 2026-01-02  Product Sale   12000  Revenue
4 2026-01-03  Product Sale   18000  Revenue
6 2026-01-04  Product Sale   20000  Revenue
8 2026-01-05  Product Sale   17000  Revenue

In [ ]:
df[df["Type"] == "Revenue"]["Amount"]

0    15000
2    12000
4    18000
6    20000
8    17000
Name: Amount, dtype: int64

In [ ]:
# Total Revenue
df[df["Type"] == "Revenue"]["Amount"].sum()

np.int64(82000)

In [ ]:
total_revenue = df[df["Type"] == "Revenue"]["Amount"].sum()
print(total_revenue)

82000

In [ ]:
# Total Expense
total_expense = df[df["Type"] == "Expense"]["Amount"].sum()
print(total_expense)

27500

In [ ]:
# Net Profit
net_profit = total_revenue - total_expense
print(net_profit)

54500

In [ ]:
# Expense Breakdown
expense_breakdown = df[df["Type"] == "Expense"].groupby("Category")["Amount"].sum()
print(expense_breakdown)

Category
Facebook Ads     3000
Google Ads       4000
Rent             8000
Salary          10000
Utilities        2500
Name: Amount, dtype: int64

In [ ]:
# Percentage Contribution
percent_contribution = (expense_breakdown / total_expense) * 100

In [ ]:
print(round(percent_contribution, ndigits= 2))

Category
Facebook Ads    10.91
Google Ads      14.55
Rent            29.09
Salary          36.36
Utilities        9.09
Name: Amount, dtype: float64

In [ ]:
# Summary Dataframe
summary_df = pd.DataFrame({
    "Metric": ["Total Revenue", "Total Expense", "Net Profit"],
    "Value": [total_revenue, total_expense, net_profit]
})

print(summary_df)

          Metric  Value
0  Total Revenue  82000
1  Total Expense  27500
2     Net Profit  54500

In [ ]:
# Export to Excel
with pd.ExcelWriter("monthly_report.xlsx") as writer:
    summary_df.to_excel(writer, sheet_name="Summary", index=False)
    expense_breakdown.to_excel(writer, sheet_name="Expense Breakdown")